<% layout('layout/frontpage') -%>
<% block('title', 'Основной отчет'); -%>

<%function formatDate(date){
    var mon = (date.getMonth()+1 <10)? '0'+(date.getMonth()+1): date.getMonth()+1;
    var dt = (date.getDate() <10)? '0'+(date.getDate()): date.getDate();
    var Hours = (date.getHours() <10)? '0'+(date.getHours()): date.getHours();
    var Minutes = (date.getMinutes() <10)? '0'+(date.getMinutes()): date.getMinutes();
    var Seconds = (date.getSeconds() <10)? '0'+(date.getSeconds()): date.getSeconds();
    var ret = date.getFullYear()+'.'+ mon+'.'+ dt +'('+ Hours+':'+ Minutes+':'+ Seconds+')';
    return ret;
}%>
<% if( chck){ %>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>created</th>
                <th>operation</th>
                <th>created_at</th>
                <th>clone_id</th>
                <th>clone_name</th>
                <th>delta</th>
                <th>saldo</th>
                <th>action_type</th>
            </tr>
        </thead>
        <tbody>

        <% for(var i=0; i < data.length; i++){ %>
            <tr>
                <td><%= i%></td>
                <td></td>
                <td><%= data[i].operation%></td>
                <td><%= formatDate(new Date(data[i].created_at * 1000))%></td>
                <td><%= data[i].clone_id%></td>
                <td><%= data[i].clone_name%></td>
                <td><%= data[i].delta%></td>
                <td><%= data[i].saldo%></td>
                <td><%= data[i].action_type%></td>
            </tr>
        <%}%>
        </tbody>
    </table>
<%}else{%>
    <h1>No data</h1>
<%}%>
