<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/dist/css/bootstrap.css' />
    <title class="panel-title"><%= blocks.title %></title>
</head>
<body>

<div class="panel-default">

    <div class="pos-f-t">
        <!-- HEADING PANEL -->
        <%- blocks.header %>
        <%-partial('../partials/header')%>
    </div>

    <div class="container">
        <!-- BODY PANEL -->
        <p>Wel_come to <%= blocks.title %></p>
        <%-body -%>
    </div>

    <%-partial('../partials/footer')%>
</div>

</body>
</html>


